@import "oli-root";

.smaller-button{
  @include oli-button;

  height: 30px;
  width: 100px;
  float: right;
}

.activity-status{
  display: inline;
  width: 140px;
  float: right;
  line-height: 4.3em;
  font-style: italic;
}