@import "oli-root";

.answer-box{
  @include scrollable-box;
  display: inline-block;
  height: 210px;
  width: 65%;
  border-color: rgba(0,0,0,.2);
  margin-right: 5px;
}

.answer-box-large{
  @include scrollable-box;
  height: 210px;
  // border-color: rgba(0,0,0,.5);
}

.qa-values-box{
  @include scrollable-box;
  display: inline-block;
  height: 210px;
  resize: none;
  width: 32%;
  padding: 10px;
}


.qa-title{
  margin-top: 25px;
}

.bank-box{
  @include scrollable-box;
  height: 100px;
  border: 1px dashed rgba(0,0,0,.2);
}