@import "course";


.start-items{
  display: inline;
  margin: auto;
}


.sections-row-oli{
  position: relative;
  width: 85%;
  border: 1px solid rgba(0,0,0, .25);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;

  border-left: none;
  margin: 15px;
  height: $levels-height;
  line-height: 2.7*1.08em;

  @include black-bold-text;
}

.start-items{
  border-right:  1px solid rgba(0,0,0, .25);
  padding: 13px 25px 13px 25px;

}

  
.sections-row-ball{
  background: image-url('small-flame-icon.png') no-repeat center; 
  background-size: 30*.8px 46*.8px;
  z-index: 100px;
  position: absolute;
  border: 1px solid rgba(0,0,0, .25);
  border-radius: 1000px;
  margin-left: -24px;
  margin-top: -1px;
  width: $levels-height;
  height: $levels-height;
}


.sections-row-oli div:last-of-type{
    border-right: none;
    padding: 0 0 5px 0;
    margin-left: 25px;
  }

  .sections-row-oli div:nth-of-type(2){
      // background: red;
      margin-left: -35px;
    }
.section-wrapper{
  width: 400px;
  margin: 0 auto;
  text-align: center
}
