@import "oli-root";

.thread-word-bank{
  @include scrollable-box;
  height: 100px;
  margin-bottom: 6px;
}

.word-pill{
  // -webkit-font-smoothing: subpixel-antialiased !important;

  cursor: pointer;
  background-color: oli-blue(1);
  margin: 2px;
  display: inline-block;
  @include oli-font;
  font-family: pn-thin;
  color: white;
  padding: 0px 5px 0px 5px;
  text-transform: uppercase;
  border-radius: 50px;
  line-height: 1.8em;  
  font-weight: thin;

}


.drop-box{
  width: 215px;
  display: inline-block;
  padding: 0;
  border: 1px dotted oli-gray(1);
  height: 70px;
  margin: 2px;
  overflow: scroll;
  overflow-x: hidden;

}

.drop-box-placeholder{
  @include oli-text-smaller;
  text-align: center;
  line-height: 4.8em;
  color: oli-gray(1);
  width: 100%;
  display: inline-block;
  pointer-events: none;

}

.drop-box-not-empty{
  border: 1px solid oli-blue(.7);
}

.drag-active{
  overflow: hidden;
  background-color: oli-blue(.1) !important;
  border-color: oli-blue(.7) !important;
}

.drop-box-container{
  margin:auto;
  width: 445px;

}