
<div class="lnd__section-sub lnd__intro-title">
    <div class="lnd__intro-text lnd__intro-text--upper-2 lnd__intro-text--shadow">
  SIGN UP FOR YOUR
  </div>

    <div class="lnd__intro-text lnd__intro-text--upper-1 lnd__intro-text--upper-1-smaller lnd__intro-text--shadow">
      FREE TRAINING
    </div>

    <div class="lnd__intro-text lnd__intro-text--reg-2 lnd__intro-text--shadow">
      We envision a world in which every individual is confidently shining their light in the world.
      Sign up to receive your FREE career training and start bringing your vision to life!  
    </div>
  </div>

<div style="display: none" class="lnd__session-container js-sign-in-form">
  <%= render 'landing/sign_in_form' %>
</div>

<div class="lnd__session-container js-sign-up-form" style="display: block">
  <%= render 'landing/sign_up_form' %>
</div>
