

<div class="lnd__intro-title">

  <div class="lnd__video">
    <video id="landing-video">
        <source src="http://player.vimeo.com/external/109862694.hd.mp4?s=efeb42825e2088026ea2ff2df5b6ff52" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
      
        Video not supported.
    </video>
  </div>

  <div class="lnd__intro-text lnd__intro-text--upper-2 lnd__intro-text--shadow">
    CONNECT TO YOUR
  </div>

  <div class="lnd__intro-text lnd__intro-text--upper-1 lnd__intro-text--shadow">
    BRILIANCE
  </div>

  <div class="lnd__intro-text lnd__intro-text--reg-1 lnd__intro-text--shadow">
    An online personal development coaching platform.
  </div>
</div>

<div class="lnd__intro-play lnd__intro-text lnd__intro-text--upper-3">
  <div class="inline-block">WATCH</div>
  <div class="lnd__play-button play-button"><%= fa_icon "play" %></div>
  <div class="inline-block">VIDEO</div>

</div>

<div class="lnd__intro-section lnd__intro-section--bottom">
  <div class="lnd__intro-text lnd__intro-text--reg-2 lnd__intro-text--shadow">
  We help people learn about themselves so they can
  confidently create connections, careers, and lives they love.
  </div>
</div>

<a class="page-scroll js-switch-to-register" href="#log-in">
  <div class="lnd__intro-section lnd__intro-section--button">
    SIGN UP FOR FREE TRAINING
  </div>
</a>

<a class="page-scroll" href="#about">
  <div class="lnd__section-bottom">Learn more
    <div>
      <i class="fa fa-angle-down"></i>
    </div>
  </div>
</a>