/* line 5, /Users/jh/Developer/Oli/app/assets/stylesheets/oli.css.scss */
body, html {
  background: url("oli_bg2.png");
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: pn-light;
  src: url(proxima_nova_light.otf);
}

@font-face {
  font-family: pn-extrabold;
  src: url(proxima_nova_scosf_extrabold.otf);
}

@font-face {
  font-family: pn-bold;
  src: url(proxima_nova_bold.otf);
}

@font-face {
  font-family: pn-semibold;
  src: url(proxima_nova_scosf_semibold.otf);
}

@font-face {
  font-family: pn-thin;
  src: url(proxima_nova_thin.otf);
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  /* line 45, /Users/jh/Developer/Oli/app/assets/stylesheets/oli.css.scss */
  .logo img {
    max-width: 156px !important;
    max-height: 96px !important;
  }

  /* line 50, /Users/jh/Developer/Oli/app/assets/stylesheets/oli.css.scss */
  .logo {
    padding-top: 10px !important;
    padding-bottom: 20px !important;
  }
}
@media (max-height: 350px) {
  /* line 59, /Users/jh/Developer/Oli/app/assets/stylesheets/oli.css.scss */
  .body-text {
    display: none;
  }

  /* line 64, /Users/jh/Developer/Oli/app/assets/stylesheets/oli.css.scss */
  .footer-text {
    padding-top: 10px !important;
  }
}
/* line 69, /Users/jh/Developer/Oli/app/assets/stylesheets/oli.css.scss */
.content-container {
  height: 100%;
  width: 100%;
  padding-top: 50px;
  position: relative;
  overflow: auto;
}

/* line 77, /Users/jh/Developer/Oli/app/assets/stylesheets/oli.css.scss */
.oli-form {
  width: 100%;
  margin: auto;
  text-align: center;
}

/* line 84, /Users/jh/Developer/Oli/app/assets/stylesheets/oli.css.scss */
.header-text {
  color: #f26e1b;
  font-family: pn-bold;
  text-align: center;
  font-weight: normal;
  font-smoothing: antialiased;
  font-size: 1.285em;
}

/* line 94, /Users/jh/Developer/Oli/app/assets/stylesheets/oli.css.scss */
.body-text {
  font-family: pn-light;
  text-align: center;
  font-weight: normal;
  font-smoothing: antialiased;
  margin: 0 auto;
  max-width: 350px;
  padding-bottom: 20px;
  opacity: .6;
}

/* line 106, /Users/jh/Developer/Oli/app/assets/stylesheets/oli.css.scss */
.footer-text {
  font-family: pn-light;
  text-align: center;
  font-weight: normal;
  font-smoothing: antialiased;
  margin: 0 auto;
  max-width: 350px;
  opacity: .6;
  padding-top: 30px;
  padding-bottom: 20px;
}

/* line 117, /Users/jh/Developer/Oli/app/assets/stylesheets/oli.css.scss */
.oli-form {
  max-width: 400px;
}

/* line 121, /Users/jh/Developer/Oli/app/assets/stylesheets/oli.css.scss */
.submit-button {
  border: none;
  height: 37px;
  width: 100px;
  border-radius: 20px;
  margin-left: -106px;
  background-color: #266dbf;
  color: white;
  font-family: pn-thin;
  font-size: 1em;
  letter-spacing: .03em;
  font-weight: thin;
  outline: none;
  -webkit-appearance: none;
  opacity: .95;
}

/* line 138, /Users/jh/Developer/Oli/app/assets/stylesheets/oli.css.scss */
.submit-field {
  height: 39px;
  font-family: pn-light;
  margin: 0 auto;
  width: 98%;
  border-radius: 20px;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  outline: none;
  padding: 5px;
  padding-left: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
}

/* line 155, /Users/jh/Developer/Oli/app/assets/stylesheets/oli.css.scss */
.mobile .submit-field {
  height: 50px !important;
}

/* line 159, /Users/jh/Developer/Oli/app/assets/stylesheets/oli.css.scss */
.mobile .submit-button {
  height: 48px !important;
}

/* line 163, /Users/jh/Developer/Oli/app/assets/stylesheets/oli.css.scss */
.logo {
  margin: 0 auto;
  z-index: 100;
  text-align: center;
  padding-bottom: 60px;
  padding-top: 50px;
  /*background: url('oli-logo.png') no-repeat center;*/
  /*background-size: 216px 134px;*/
}

/* line 174, /Users/jh/Developer/Oli/app/assets/stylesheets/oli.css.scss */
.logo img {
  max-width: 216px;
  max-height: 134px;
}

/*.mobile .logo img{
  max-width: 216px !important;
  max-height: 134px !important;
}*/
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

