<div> Welcome <%= @user.name %></div>

<div> My courses: </div>
  <% @user.courses.each do |course| %>
  <div> 

  <%= link_to course.name , course_path(course) %>
</div>
  <% end %>
 <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>