{{#each ack in data}}
  <div class="gratack-item-resources">
    <span class="gratack-item-date-resources oli-text-smaller">
      {{ack.date}} - 
    </span>

    <span class="gratack-item-post-resources oli-text-small">
      {{ack.post}}
    </span>
  </div>
  
{{/each}}