<div class="video-container">

  <iframe 
  id="vimeoplayer"
  {{bind-attr 
    src=source
    width=width
    height=height
    frameborder="0" 

    
  }}
  webkitallowfullscreen 
  mozallowfullscreen 
  allowfullscreen
  >
  
  </iframe>


  {{!-- <video id="my_video"
    {{bind-attr class=":video-js :vjs-default-skin :vjs-big-play-centered hideButton:hide-button"

    width=width
    height=height
    controls=controls
    src=source.content
    }} 
   >

      <source id="my_source" {{bind-attr src=source.content}} type="video/mp4">
     <p class="vjs-no-js">Tunboundo view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video> --}}
</div>