{{#view Oli.NewWord }}
  <div class='col-lg-3 col-md-4 col-sm-4 col-xs-5 description'>
    <div class="roundedOne" >

      {{view Oli.NewWordCheck type="checkbox" id="new-word" class="roundedOne"}}
      
      <label for="new-word" ></label>

    
    </div>
    <div class="select-word">
      {{view Oli.NewWordBox id="new-word-box" class="new-word-box" value="" placeholder="New Word" }}
    </div>
 </div>
{{/view}}
  
 