<br><br>

<div class="description">
{{#view Oli.QuestionAnswerView}}
  {{this.description}}
  </div>

  <br><br>

  {{#each view.components}}
    {{#view Ember.TextArea class="response-box" value=user_content}}
    {{/view}}
  {{/each}}
{{/view}}
<br>
<br>
<br>
<br>