{{#view Oli.QuestionAnswerView}}
  <div class="description-box oli-text">
    {{controller.comp.content.content}}
  </div>
  <div class="component-title qa-title">
    {{controller.comp.content.title}}
  </div>

  <div class="answer-box">
    {{}}
  </div>
  {{textarea class="qa-values-box" placeholder="Begin listing your values here"
  value=controller.questionEntryList.content
  }}
{{/view}}
