<br>
<div class="description">
{{#view Oli.QuestionAnswerView}}
  {{controllers.activities.description}}
  </div>

  <br><br>
  {{textarea value=controller.questionEntry1.content class="answer-box"}}
{{/view}}
