{{#view Oli.EmailFormView }}
<div class="share-buddy-image">
 <%= image_tag("share_buddy.png") %> 
</div>
<div class="accountability-text oli-text">Let your accountability buddy know about your progress.</div>
<form role="form">
  <div class="email-field-outer">
    <div class="oli-semibold">Email address</div>
    {{input value=addressEntry name='subject'type="email" class="email-field" id="emailField" placeholder="Enter email"}}
  </div>

  <div class="email-field-outer oli-text">
    <div class="oli-semibold">Subject</div>
    {{input id="subjectField" value=subjectEntry class="subject-field"}}
  </div>


  <div class="email-field-outer oli-text">
    {{textarea value=bodyEntry class="body-field"}}
  </div>

</form>

{{/view}}