{{#view Oli.Share1View}}
  
  <div class="share-1-image oli-text">
    <%= image_tag('share_world.png')%>
  </div>

  <div class="oli-text">Let the world know about your progress.</div>
  {{textarea 
    classBinding=":share-1-box box1Error:box__input--error" 
    value=fb_message
    placeholder="Enter your share message!"
  }}

{{/view}}