{{#view Oli.EmailFormView }}
<div class="share-buddy-image">
 <%= image_tag("share_buddy.png") %> 
</div>
<div class="accountability-text oli-text">Let your accountability buddy know about your progress.</div>
<form role="form">
  <div class="email-field-outer">
    <div class="oli-semibold">Email address</div>
    {{input value=addressEntry name='subject'type="email" classBinding=":email-field box1Error:box__input--error" id="emailField" placeholder="Enter email"}}
  </div>

  <div class="email-field-outer oli-text">
    <div class="oli-semibold">Subject</div>
    {{input id="subjectField" value=subjectEntry classBinding=":subject-field box2Error:box__input--error"}}
  </div>


  <div class="email-field-outer oli-text">
    {{textarea value=bodyEntry classBinding=":body-field box3Error:box__input--error"}}
  </div>

</form>

{{/view}}