{{#view Oli.VideoView}}
  {{video-player width=controller.width height=controller.height
  source=controller.source
  controls=false}}
  <div class="transcript">
    {{{controller.transcript.content.content}}}
  </div>
{{/view}}