{{#view Oli.VideoView}}
<div class="video-container">
  <video id="MY_VIDEO_1" class="video-js vjs-default-skin vjs-big-play-centered" controls
   preload="auto" width="549" height="320" 
   data-setup="{}" >
    <source {{bind-attr src=controller.videoSrc}} type="video/mp4">

   <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </video>
</div>
<div class="transcript">
  {{{controller.transcript.content.content}}}
</div>
{{/view}}
