<div class="description-box oli-text">
    {{controller.controllers.activities.description}}
</div>

{{#view  Oli.DropTarget index=6 class="thread-word-bank"}}
  {{#each controller.lastList}}
    {{#view Oli.Box value=this class="word-pill"}}
      {{#if this.selected}}

        <span>{{this.word}}</span>
      {{/if}}
    {{/view}}
  {{/each}}
{{/view}}

  <div class="drop-box-container">

    {{#each list in controller.listsExceptLast}}
      {{#view Oli.DropTarget index=_view.contentIndex class="drop-box"}}
        {{#each list}}
          {{#view Oli.Box value=this class="word-pill"}}
            {{#if this.selected}}
              <span>{{this.word}}</span>
            {{/if}}
          {{/view}}
        {{/each}}
      {{/view}}
    {{/each}}
  </div>