@import "oli-root";

.share-1-box{
  @include scrollable-box;
  height: 200px;
  margin-top: 15px;
}

.share-1-box:focus{
  border: 1px solid oli-gray(.7)
}

.share-1-image{
  $mult: .75;


  width: $mult*305px;
  margin: 15px auto 0 auto;

  img{
    width: $mult*305px;
    height: $mult*165px;
  }
}

.share-buddy-image{
  $mult: .75;
  width: $mult*323px;
  margin: 15px auto 0 auto;

  img{
    width: $mult*323px;
    height: $mult*159px;
  }
}

.accountability-text{
  padding: 10px;
}

.email-field{
  @include oli-box;
  padding-top: 5px;
  width: 50%;
  padding-bottom: 5px;
}

.subject-field{
  @include oli-box;
  padding-top: 5px;
  padding-bottom: 5px;
}

.body-field{
  @include oli-box;
}

.email-field-outer{
  padding: 10px;
}
.email-area{
 @include scrollable-box;
}