<div class="info-bar-account">
  <div class="user-info-account oli-bold">
    <div class="upload-image-container-account">
      <div class="upload-image-circle-account">
        <div class="upload-image-inner-circle-account">
          <span class="icon-out"></span>
        </div>
      </div>
    </div>
    <div class="name-container-account">
      {{user.name}}
    </div>
    <div class="user-level-account">
      Free user
    </div>
  </div>
</div>