{{#view Oli.AcknowledgementView}}

  <div class="container-acknowledgement">
    <div class="oli-bold center padding-top">
      {{controller.title}}
    </div>
    {{outlet gratackContainer}}
  </div>
{{/view}}