 <div class="oli-text-small center">
  {{controller.subtext}}
</div>

<div class="input-container-acknowlegement">
  {{input class="oli-form-field-long" placeholder=controller.placeholder value=input}}
</div>