
  <div class="oli-container-small oli-text-small center">
        {{controller.type}} recorded.
      <br>
      You can review all past {{controller.typePlural}} in the {{#link-to}} resources {{/link-to}} tab.

      <div class="oli-container-small">
        Would you like to record another {{controller.typeLower}}?
      </div>
  </div>