{{#view Oli.MeCollapse}}
  <div class="container-me-collapse">
    <div class="me-collapse">
      <div class="x-me-collapse" {{action clickX target="view"}}>x
      </div>
      <div class="circle-collapse">
      </div>
      {{outlet contentCollapse}}
    </div>  
  </div>
{{/view}}