<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-oli">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title modal-title-oli" id="myModalLabel">Thanks for registering!</h4>
      </div>
      <div class="modal-body">
        <p>Please check your email to confirm.</p>
        <p> In the meantime, check out <a href="http://ahalya.tv">ahalya.tv</a>!</p>
              </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>