  <div class="logo"><%= image_tag "oli-logo.png" %>
</div>

  <div class="header-text">
    NEW ONLINE COURSE COMING SOON 
  </div>

  <div class="info">
    <div class="body-text">
      Gain clarity, confidence and connections so that you can do what you love, make money and make a difference.
    </div>
    <div class="footer-text">
      Be the first to hear when OLI launches.
    </div>
    <div class="oli-form">
      <%= form_tag("/oli/landing", method: "post") do %>
        <%= text_field_tag(:data, nil, :type => "email", :placeholder => "Enter your email address", :class => "form-control submit-field") %>
        <%= submit_tag("SUBMIT", :class => "submit-button") %>
      <% end %>
    </div> <!-- /oli-form -->
  </div> <!-- /info -->
