<% 
=begin %>
<%= render 'shared/nav_bar' %>

<div class="section-wrapper">
  <div class="sections-row-oli">
    <% @topic.sections.each do |section| %>
      <div class="start-items"><a href="topic"><%= link_to section.name, course_topic_section_path(@course, @topic.name, section.name) %></a></div>
    <% end %>
  </div> <!-- /.row -->
</div> <!-- /.section-wrapper -->

<div class="thin-bar-wrapper">
  <% @activities.each{ |activity|%><div class="notch"></div><% } %>
</div> <!-- /.thin-bar-wrapper -->

<% 
=end %>