<div class="activity-contents">
  {{outlet template}}
</div>

 <button class="smaller-button" data-style="zoom-out" {{action "nextAct" this on="click"}}><span class="ladda-label">CONTINUE</span></button>