  

  <div class="thin-bar-wrapper" id="thin-bar">
    <div id="hover-box" class="test-hover" >
    {{hovering.name}}<br>
    {{#if hovering.completed}}
        DONE
    {{/if}}
    
  </div>
    {{#each item in controller.barContent}}{{#view Oli.NotchView titleBinding="item"}}
    <div class="notch-text ">{{item.displayName}}</div>
      <div {{bind-attr class=":notch controller.notchGap:gap-notch item.class"}}></div>
      {{/view}}{{else}}
      {{#view Oli.NotchView titleBinding="item"}}
      <div class="notch"></div>
      {{/view}}{{/each}}
      {{#view Oli.TriangleView id="triangle"}}{{/view}}

  </div> <!-- /.thin-bar-wrapper -->
