  <div id="hover-box" class="test-hover" >
    {{hovering.name}}<br>
    {{#if hovering.completed}}
        DONE
    {{/if}}
    
  </div>

  <div class="thin-bar-wrapper" id="thin-bar">
    {{#each item in controller.activities}}{{#view Oli.NotchView contextBinding="item"}}
    <div class="notch"></div>
    {{/view}}{{/each}}
    {{#view Oli.TriangleView id="triangle"}}{{/view}}

  </div> <!-- /.thin-bar-wrapper -->
