
<div id="fb-root"></div>



{{#view Oli.FreeVideosView}}
  {{partial 'bar'}}
  {{partial 'activities/video'}}
  <div class="fb-comments" data-href="http://getoli.com" data-numposts="10" data-colorscheme="light"></div>
{{/view}}