
<div class="tip-container">
  <div class="tip-outer">
    <div class="tip-logo" id="tip-logo"></div>
    <br>
    <div class="tip-text-preview">Need help?</div>
    <div class="tip-inner" id="tip-box">{{controller.tip}}
    </div>
  </div>
</div>                                                                                                                                                                                                                                         