@import "oli-root";

.container-info-bar-account{
  position: absolute;
  display: inline-block;
}

.info-bar-account{
  position: relative;
  float: left;
  height: 500px;
  width: 19%;
  overflow: scroll;
  overflow-x:hidden;
  padding: 5px;
  margin: 0;
  line-height: 1em !important;
}

.name-container-account{
  margin-top: 5px;
}

.user-level-account{
  font-style: italic;
  align-text: center;
  @include oli-font;
  color: oli-dark-gray(1);
  font-size: .6em;
}

.user-info-account{
  position: absolute;
  margin: auto;
  text-align: center;
  top: 30px;

}

.content-container-account{
  display: inline-block;
  min-height: 400px;
  width: 80%;
  overflow: scroll;
  overflow-x:hidden;
  position: relative;

}

.upload-image-container-account{
  height: 60px;
  width: 60px;
}

.upload-image-circle-account{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  // border: 1px dashed white;
  background: oli-dark-gray(1);
}

.upload-image-inner-circle-account{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50px;
  border: 1px dashed rgba(255,255,255,.9);
  background: oli-dark-gray(1);
  text-align: center;
  font-family: 'icomoon';
  color: white;
  font-size: .9em;
}

.upload-image-inner-circle-account .icon-out{
    line-height: 3.2em;
}
