.element-animation{
  -webkit-animation: animationFrames linear .85s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 1;
}

@-webkit-keyframes animationFrames {
  0% {
    left:0px;
    top:0px;
    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) 
  }
  0% {
  }
  15% { -webkit-transform:   skew(0deg,0deg);  scaleY(1.05) scaleX(1.2)  translate(0,-1%) ;
}

  33% {
    
    opacity:.9;
    -webkit-transform:  skew(0deg,0deg); scaleY(1.1) scaleX(1.3)  translate(0,-2%) ;

  }

  60% { opacity:.9; -webkit-transform:   skew(0deg,0deg)scaleY(1.05) scaleX(.8)  translate(0,-1%) ;}


  100% {
    left:0px;
    top:0px;
    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

