// Place all the styles related to the Course controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$nav-bar-height: 60px;
$levels-height: 45px;

@mixin black-bold-text{
  color: rgba(0,0,0, 1);
  font-family: pn-bold;
  text-align: center;
  font-smoothing: antialiased;
  font-size: .86em;

  a{
    color: rgba(0,0,0, .75) !important;

  }
}

// .navbar .navbar-nav {
//   display: inline-block;
//   float: none !important;
// }

// .navbar-text{
//   float: none;
//   @include black-bold-text;
//   a{
//     padding: 20px 5px 0 5px !important;
//   }
// }

// .navbar .navbar-collapse {
//   text-align: center;
//   margin:0 auto;
// }

// .navbar-oli{
//   display: inline-block;
//   float: none;
//   min-height: $nav-bar-height;
//   background: rgba(251, 245, 242, 1);
//   // background: image-url('oli-no-flame.png') no-repeat; 
//   background-size: 331*.25px 208*.25px;
// }

// .navbar-border{
//   background: rgba(242, 111, 33, .8);
//   z-index: 2;
//   box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.30);  
//   height:2px;
//   margin-top: $nav-bar-height;
//   width: 100%
// }

// .start-items{
//   display: inline;
//   margin: auto;
// }

// .notch{
//   display: inline-block;
//   width: 45px;
//   height: 3px;
//   border-radius: 1px;
//   padding-left:0px;
//   margin-right: 1px;
//   background: rgba(248, 160, 32, 1);
// }

// .notch-ember{
//   display: inline-block;
//   // cursor: pointer;

// }
// .sections-row-oli{
//   position: relative;
//   width: 85%;
//   border: 1px solid rgba(0,0,0, .25);
//   border-top-right-radius: 100px;
//   border-bottom-right-radius: 100px;

//   border-left: none;
//   margin: 15px;
//   height: $levels-height;
//   line-height: 2.7*1.08em;

//   @include black-bold-text;
// }

// .start-items{
//   border-right:  1px solid rgba(0,0,0, .25);
//   padding: 13px 25px 13px 25px;

// }

  
// .sections-row-ball{
//   background: image-url('small-flame-icon.png') no-repeat center; 
//   background-size: 30*.8px 46*.8px;
//   z-index: 100px;
//   position: absolute;
//   border: 1px solid rgba(0,0,0, .25);
//   border-radius: 1000px;
//   margin-left: -24px;
//   margin-top: -1px;
//   width: $levels-height;
//   height: $levels-height;
// }


// .sections-row-oli div:last-of-type{
//     border-right: none;
//     padding: 0 0 5px 0;
//     margin-left: 25px;
//   }

//   .sections-row-oli div:nth-of-type(2){
//       // background: red;
//       margin-left: -35px;
//     }

// .thin-bar-wrapper{
//   width: 500px;
//   margin: auto;
// }

// .section-wrapper{
//   width: 400px;
//   margin: 0 auto;
//   text-align: center
// }

// .test-hover{
//   display:none;
//   position: absolute;
//   cursor: pointer;
//   height: 30px;
//   width: 50px;
//   box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2);  
//   background: rgba(248, 160, 32, .9);
//   font-size: .5em;
//   font-family: pn-semibold;
//   text-align: center;
//   font-weight: normal;
//   font-smoothing: antialiased;
//   margin:0 auto;
//   color: rgba(0,0,0,.6);
//   border-radius: 1px;
// }