@font-face
{
font-family: pn-bold;
src: font-url('proxima_nova_bold.otf');
}

@font-face
{
font-family: pn-semibold;
src: font-url('proxima_nova_scosf_semibold.otf');
}

@font-face
{
font-family: pn-thin;
src: font-url('proxima_nova_thin.otf');
}

@font-face
{
font-family: pn-light;
src: font-url('proxima_nova_light.otf');
}

@font-face
{
font-family: pn-extrabold;
src: font-url('proxima_nova_scosf_extrabold.otf');
}