@import "oli-root";

.container-me-collapse{
  display: inline-block;
  width: 100%;
  height: 190px;
}

.me-collapse{
  position: relative;
  margin: 15px auto 45px auto;
  box-shadow: 0 0 10px rgba(0,0,0,.1); 
  border-radius: 10px;
  width: 70%;
  height: 78%;
}

.x-me-collapse{
  position: absolute;
  cursor: pointer;
  font-family:Arial;
  font-weight: bold;
  top: 5px;
  right: 10px;
  font-size: .8em;
  color: rgba(0,0,0,.45);
  &:hover{
    color: rgba(0,0,0,1);
  }
}

.author-me{
  font-style: italic;
  // font-weight: strong;
}

.quote-container-me{
  line-height: 1.3em;
  width: 75%;
  margin-left: 75px;
}

.circle-collapse{
  position: absolute;
  @include oli-circle(75px, .6px);
  left: -38px;
  top: 23%;
}