@import "oli-root";

.container-me{
  margin-left: 20px;
  margin-top: 20px;
}

.container-account{
  position: relative;
}

.iframe-me{
  display: block;
  padding: 20px;
  width: 500px;
  margin: auto;

}

.modal-dialog-welcome{
  width: 540px;
  text-align: center;
}