.modal-dialog-oli{
  margin: auto;
  padding: 10%;
  padding-top: 20%;
  font-family: pn-light;
  max-width: 580px;
}

.modal-title-oli{
  text-align: center;
  color: #f26e1b;

}

.big-modal .modal-dialog-oli{
  padding-top: 10%;
  width: 810px;
  max-width: 100% !important;

}