@import "fonts";
@import "oli-root";
@import "font-awesome";

body, html{
  height: 100% !important;
}

* {
margin: 0;
}

.oli-yellow{
  background: oli-yellow(1);
}

.oli-orange{
  background: oli-orange(1);
}

.oli-red{
  background: oli-red(1);
}


.oli-blue{
  background: oli-blue(1);
}

.oli-form-field{
  @include oli-form-field;
}


.oli-form-field-long{
  @include oli-form-field;
  width: 90%;

}

.component-title{
  @include oli-bold;
  font-size: 1.15em;
}

.oli-box{
  @include oli-box;
}

.oli-scrollable{
  @include scrollable-box;
}

.oli-box-large{
  @include oli-box;
  height: 100px;
}

.oli-inactive{
  @include inactive;
}

.oli-selector{
  width: 90%;
  @include oli-border;
}

.oli-selector-large{
  width: 100%;
  @include oli-border;
}

.oli-semibold{
  font-family: pn-semibold;
  font-size: .85em;
  color: rgba(0,0,0,.9) !important;
}

.oli-bold{
  @include oli-bold;
}

.oli-text{
  @include oli-text;
}

.oli-button{
  @include oli-button;
  // float: right;
}
.oli-text-smaller{
  @include oli-text-smaller;
}

.oli-text-small{
  @include oli-text-smaller;
  font-size: .80em;
}

.no-margin{
  margin: 0;
}

.full-width{
  width: 100%;
}

.margin-top{
  margin-top: 5px;
}

.margin-left{
  margin-top: 10px;
}

.padding-top{
  padding-top: 15px;
}

.center{
  text-align: center;
  margin: auto;
}

.display-none{
  display: none;
}

.oli-container{
  margin: 10px;
}

.oli-container-small{
  margin: 2px;
}