// Place all the styles related to the Course controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$nav-bar-height: 60px;
$levels-height: 45px;

@function oli-yellow($a){
  @return rgba(248, 160, 32, $a); 
}

@function oli-orange($a){
  @return rgba(242, 111, 33, $a); 
}

@function oli-red($a){
  @return rgba(219, 69, 52, $a); 
}

@function oli-gray($a){
  @return rgba(222, 222, 222, $a); 
}

@function oli-blue($a){
  @return rgba(38, 109, 191, $a); 
}


@mixin oli-font{
  font-family: pn-light;
  color: #696969;
}

@mixin oli-text{
  @include oli-font;
  font-size: .90em;
}

@mixin oli-text-smaller{
  @include oli-font;
  font-size: .85em;

}
@mixin scrollable-box{
  overflow: scroll;
  @include oli-font;
  @include oli-box;

}

@mixin oli-box{
  width: 100%;
  @include oli-text;
  border: 1px solid oli-gray(1);
  padding: 10px;
  resize: none;
  outline: none;
  border-radius: 3px;
}

@mixin oli-button{
  border: none;  
  
  border-radius: 20px;
  margin-top: 10px;
  background-color: oli-blue(1);
  color: white;
  font-family: pn-thin;
  font-smoothing: antialiased;
  box-shadow: 0 1px 3px rgba(38, 109, 191, .3); 

  font-size: .9em;
  letter-spacing:.03em;
  font-weight: thin;
  outline: none;
  -webkit-appearance:none;
  opacity: .95;
}

@mixin black-bold-text{
  color: rgba(0,0,0, 1);
  font-family: pn-bold;
  text-align: center;
  font-smoothing: antialiased;
  font-size: .85em;

  a{
    color: rgba(0,0,0, .75) !important;

  }
}

@mixin oli-bold{
  font-family: pn-bold;
  color: rgba(0,0,0,.9) !important;
}

.component-title{
  @include oli-bold;
  font-size: 1.15em;
}

.oli-box{
  @include oli-box;
}

.oli-semibold{
  font-family: pn-semibold;
  font-size: .85em;
  color: rgba(0,0,0,.9) !important;
}

.oli-text{
  @include oli-text;
}

.oli-text-smaller{
  @include oli-text-smaller;
}
