body, html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding:0;
  font-size: 1.02em;
}

body{
  background: url('oli_bg2.png'); 
  z-index: -1;
}

@font-face
{
font-family: pn-light;
src: url(proxima_nova_light.otf);
}

@font-face
{
font-family: pn-extrabold;
src: url(proxima_nova_scosf_extrabold.otf);
}

@font-face
{
font-family: pn-bold;
src: url(proxima_nova_bold.otf);
}

@font-face
{
font-family: pn-semibold;
src: url(proxima_nova_scosf_semibold.otf);
}

@font-face
{
font-family: pn-thin;
src: url(proxima_nova_thin.otf);
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
   .logo-oli img{
    max-width: 156px !important;
    max-height: 96px !important;

  }

  .logo-oli{
    padding-top: 10px !important;
    padding-bottom: 20px !important;
  }

  .footer-text-oli{
    padding-top: 10px !important;
  }


  .logo-flame img{
    max-width: 102*.6px !important;
    max-height: 141*.6px !important;
    margin-right: -25px !important;
    margin-top: -30px !important;
  }

  .logo-wrapper{
    max-width:190px !important;
  }
}

@media (max-height: 350px ) and (min-width: 400px) {
  .body-text-oli{
  display: none;

  }

  .footer-text-oli{
    padding-top: 10px !important;
  }
}

.flames{
/*  position: fixed;
  bottom: 0;*/
  bottom: 0;
  width: 100%;
  background: url("flames.png");
  height: 225px;
  z-index: 0;
  background-size:1032px 225px;
  margin-top: 15px;
}

.logo-oli{
  position: absolute;
  margin:0 auto;

  top: 10px;
  right: 28px;
  z-index: -1;
  text-align: center;
  padding-bottom: 60px;
  padding-top: 50px;
  max-width: 250px;
}

.logo-oli img{
  max-width: 216px;
  max-height: 134px;
}

.logo-wrapper{
  position: relative;
  margin:0 auto;
  max-width: 250px;
}

.logo-flame{
  max-width: 250px;
  text-align: center;
  padding-bottom: 60px;
  margin-right:102px;
  padding-top: 50px;
  z-index: 100;
  
}
  
.logo-flame img{
  max-width: 102*.9px;
  max-height: 141*.9px;
}

.content-container{
  height: 100%;
  width: 100%;
  padding-top: 50px;
  position: relative;
  overflow: auto;
}

.oli-form{
  width: 100%;
  margin:auto;
  text-align: center;
}


.header-text-oli{
  color: #f26e1b;
  font-family: pn-bold;
  text-align: center;
  font-weight: normal;
  font-smoothing: antialiased;
  font-size: 1.285em;

}

.body-text-oli{
  letter-spacing:.01em;
  line-height: 1.31em;
  font-family: pn-light;
  text-align: center;
  font-weight: normal;
  font-smoothing: antialiased;
  margin:0 auto;
  max-width: 295px;
  padding-bottom: 20px;
  opacity: .78;
} 



.footer-text-oli{
  font-family: pn-light;
  text-align: center;
  font-weight: normal;
  font-smoothing: antialiased;
  margin:0 auto;
  max-width: 300px;
  opacity: .78;
  padding-top: 0px;
  padding-bottom: 10px;
}

.status-oli{
  height: 15px;
  font-family: pn-light;
  text-align: center;
  font-weight: normal;
  font-smoothing: antialiased;
  opacity: .6;
  padding-top: 5px;
  margin-bottom: 10px;
}

.oli-form{
  max-width: 400px;
}
.submit-button-oli{
  border: none;  
  height: 37px;
  width: 100px;
  border-radius: 20px;
  margin-top: 10px;
  background-color: #266dbf;
  color: white;
  font-family: pn-thin;
  font-smoothing: antialiased;
  box-shadow: 0 1px 3px rgba(38, 109, 191, .3); 

  font-size: .9em;
  letter-spacing:.03em;
  font-weight: thin;
  outline: none;
  -webkit-appearance:none;
  opacity: .95;
}

.oli-form ::-webkit-input-placeholder{
  opacity: .7;
}

.oli-form input[type=text], .oli-form input[type=email]{
  border: solid 1px rgba(0, 0, 0, .2);
  width: 65%;
  display: block;
  margin: auto;
  outline:none;
  height: 37px;
  font-family: pn-light;
  border-radius: 20px;
  padding-left: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05); 

}

.submit-field-name-oli{
  margin-bottom: 15px !important;

}

.submit-field-oli{
    margin-bottom: 8px;

}

.inline .submit-button-oli{
  border: none;  
  height: 37px;
  width: 100px;
  border-radius: 20px;
  margin-left: -106px;
  background-color: #266dbf;
  color: white;
  font-family: pn-thin;
  font-size: 1em;
  letter-spacing:.03em;
  font-weight: thin;
  outline: none;
  -webkit-appearance:none;
  opacity: .95;
}

.inline .submit-field-name-oli{
  height: 39px;
  font-family: pn-light;
  margin:0 auto;
  width: 35%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-right: -4px;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); 
  outline:none;
  padding: 5px;
  padding-left: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
}

.loader{
  position: absolute;
  width: 0px;
  right: 0;
  margin-right: 0;
}

.wrapper-oli {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -225px; /* the bottom margin is the negative value of the footer's height */
}
.footer-oli, .push-oli {
    height: 225px; /* .push must be the same height as .footer */
}

.inline .submit-field-oli{
  height: 39px;
  font-family: pn-light;
  margin:0 auto;
  width: 63%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); 
  outline:none;
  padding: 5px;
  padding-left: 20px;
  padding-right: 120px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
}



.mobile .submit-field-oli, .mobile .submit-field-name-oli{
  height: 50px !important;
}

.mobile .submit-button-oli{
  height: 48px !important;
}
