// Place all the styles related to the Oli controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html{
  background: url('oli_bg2.png'); 
  height: 100%;
  width: 100%;
  margin: 0;
  padding:0;
}

@font-face
{
font-family: pn-light;
src: url(proxima_nova_light.otf);
}

@font-face
{
font-family: pn-extrabold;
src: url(proxima_nova_scosf_extrabold.otf);
}

@font-face
{
font-family: pn-bold;
src: url(proxima_nova_bold.otf);
}

@font-face
{
font-family: pn-semibold;
src: url(proxima_nova_scosf_semibold.otf);
}

@font-face
{
font-family: pn-thin;
src: url(proxima_nova_thin.otf);
}

/* Landscape phones and smaller */
@media (max-width: 300px) {
   .logo img{
    max-width: 130px !important;
    max-height: 80px !important;
  }
}

.content-container{
  height: 100%;
  width: 100%;
  padding-top: 50px;
}

.oli-form{
  width: 100%;
  margin:auto;
  text-align: center;
}

.submit-button{
  border: none;  
  height: 37px;
  width: 100px;
  border-radius: 20px;
  margin-left: -106px;
  background-color: #266dbf;
  color: white;
  font-family: pn-thin;
  font-size: 1em;
  letter-spacing:.03em;
  font-weight: thin;
  outline: none;
  opacity: .95;
}

.header-text{
  color: #f26e1b;
  font-family: pn-bold;
  text-align: center;
  font-weight: normal;
  font-smoothing: antialiased;
  font-size: 1.285em;

}

.body-text{
  font-family: pn-light;
  text-align: center;
  font-weight: normal;
  font-smoothing: antialiased;
  margin:0 auto;
  max-width: 350px;
  padding-bottom: 20px;
  opacity: .6;
} 

.footer-text{
  font-family: pn-light;
  text-align: center;
  font-weight: normal;
  font-smoothing: antialiased;
  margin:0 auto;
  max-width: 350px;
  opacity: .6;
  padding-top: 30px;
  padding-bottom: 20px;
} 
.oli-form{
  max-width: 400px;
  position:relative;
}

.submit-field{
  height: 39px;
  font-family: pn-light;
  margin:0 auto;
  width: 98%;
  border-radius: 20px;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); 
  outline:none;
  padding: 5px;
  padding-left: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
}

.logo{

  margin:0 auto;
  z-index: 100;
  text-align: center;
  padding-bottom: 60px;
  /*background: url('oli-logo.png') no-repeat center;*/
  /*background-size: 216px 134px;*/
}

.logo img{
  max-width: 216px;
  max-height: 134px;
}

/*.mobile .logo img{
  max-width: 216px !important;
  max-height: 134px !important;
}*/